$primary-color: #6539dd;
$primary-dark-color: #5d0093;
$color1: #fff;
$color2: #da231f;
$color3: #919191;
$color4: #e6e3ee;
$color5: #000;
$color6: #43a345;

$extra-bold: 600;
$bold: 700;

$big: 20px;
$big-1: 22px;
$big-2: 24px;
$big-3: 35px;
