<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{ pokemon.nomePokemon }}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row modal-pokemon-detail_card">
      <div class="col-sm-12">
        <app-card-pokemon [item]="pokemon" [fixed]="true"></app-card-pokemon>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <app-lista-atributo-pokemon [pokemon]="pokemon"></app-lista-atributo-pokemon>
      </div>
    </div>
  </div>
</div>
